result_root: 'results'
note: ''

# ==================== dataset parameters
data:
  name: 'NLB'
  session: 'mc_maze'
  data_dir: 'data/nlb_data'

  neural: 
    Delta: 20
    tau_prime: 14

  kin:
    type: 'vel'

  split:
    test_frac: 0.2

# ==================== model parameters
model:
  name: 'WF'
  runner_type: 'fit'
  flatten_input: True # whether to flatten the input time dimension

# ==================== training parameters
train:
  seed: 3407 # maybe not used