result_root: 'results'
note: ''

# ==================== dataset parameters
data:
  name: 'NLB'
  session: 'mc_maze'
  data_dir: 'data/nlb_data'

  neural: 
    Delta: 20 # bin size in ms
    tau_prime: 14 # how many past bins to consider

  kin:
    type: 'vel'

  split:
    test_frac: 0.2

# ==================== model parameters
model:
  name: 'GRU'
  flatten_input: False # whether to flatten the input time dimension, default False.
  runner_type: 'trainloop' # ''trainloop' or 'fit', default 'trainloop'.
  hidden_size: 540
  num_layers: 1
  dropout: 0.26
  bidirectional: False

# ==================== training parameters
train:
  gpu_to_use: '0'
  opt_name: 'Adam'
  lr: 0.001
  weight_decay: 0
  bs: 32
  loss_name: 'MSE'
  seed: 3407
  n_epochs: 200
  early_stop:
    patience: 10
    delta: 0.005
    metric: 'vaf'
    mode: 'max'
    relative: False